aiofiles==0.3.2
asyncio==3.4.3
boto3==1.4.8
botocore==1.8.1
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
dill==0.2.7.1
docutils==0.14
enum-compat==0.0.2
eventlet==0.21.0
future==0.16.0
gapic-google-cloud-datastore-v1==0.15.3
google-api-core==0.1.4
google-auth==1.4.0
google-cloud-core==0.28.0
google-cloud-datastore==1.4.0
google-gax==0.15.16
googleapis-common-protos==1.5.3
greenlet==0.4.12
grpcio==1.9.1
httplib2==0.19.0
idna==2.6
jmespath==0.9.3
oauth2client==3.0.0
ply==3.8
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
urllib3==1.22
